{% if err_message is not None %}
    <p style="color:red;">{{err_message}}</p>
{% endif %}
{% if message is not None %}
    <p style="color:green;">{{message}}</p>
{% endif %}

<form name="update_settings" action="/user_settings/" method="post">
    {% csrf_token %}
    <table>
        <tr><td><label for="username">Username</label></td>
        <td><input type="text" name="username" id="" value="{{user_obj.username}}" /></td></tr>
        <tr><td><label for="password1">New Password</label></td>
        <td><input type="password" name="password1" id="" value="" /></td></tr>
        <tr><td><label for="password2">Confirm Password</label></td>
        <td><input type="password" name="password2" id="" value="" /></td></tr>
        <tr><td><label for="distinguished_name">Cert DN</label></td>
        <td><input type="text" name="distinguished_name" id="" value="{{user_obj.cert_dn}}" /></td></tr>

        <tr><td><input type="submit" value="Update" /></td></tr>
    </table>
</form>